*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f7fb;
}

.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login-box{

width:420px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

text-align:center;

}

.login-logo{

width:120px;

margin:auto;

margin-bottom:20px;

}

.login-box h2{

color:#005AA9;

margin-bottom:25px;

}

.login-box input{

width:100%;

padding:15px;

margin-bottom:20px;

border:1px solid #ddd;

border-radius:8px;

font-size:16px;

}

.login-box button{

width:100%;

padding:15px;

background:#005AA9;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

font-weight:600;

}

.login-box button:hover{

background:#00407a;

}

#loginMessage{

margin-top:15px;

color:red;

}
